header {
    margin-bottom: 20px;
    background: $darkgrey;
    height: 100px;

    #joueurDetails {
        float: left;
        background: $black;
        color:$lightgrey;
        width: 30%;
        padding: 20px;
        height: 112px;

        #joueur {
            display: block;
            font-size: $fontL;
            margin-bottom: 8px;
        }

        #capital {
            display: inline-block;
            padding: 4px 10px;
            border: $darkgrey 1px solid;
            background: $black;
            font-size: $fontXL;
            font-family: monospace;
        }
    }
}