header {
    height: 112px;
    #joueurDetails {
        display: inline-block;
        background: $black;
        color:$lightgrey;
        width: 30%;
        height: 100%;

        #joueur {
            
        }
    }
}