// --- FONT ---
@mixin fontLt{
    font-family : 'Frutiger-Light', Arial, Helvetica, sans-serif;
    font-weight:normal;
}

@mixin font{
    font-family : 'OpenSans-Regular', Arial, Helvetica, sans-serif;
    font-weight:normal;
}

@mixin fontBd{
    font-family : 'Frutiger-Bold', Arial, Helvetica, sans-serif;
    //font-weight: bold;
}

@mixin fontRn{
    font-family : 'Frutiger-Roman', Arial, Helvetica, sans-serif;
    //font-weight: bold;
}