#encheres {
    #timeContainer {
        width: 100%;
        height: 4px;

        #remainingTime {
            transition: all 1s ease-in-out;
            width: 100%;
            height: 4px;
            background-color: $green;

            &.orange {
                background-color: orange;
            }

            &.red {
                background-color: $red;
            }
        }
    }

    #lotContainer, #meilleureOffreContainer, #monOffreContainer {
        margin: 0 0 30px 0;
    }

    #lotContainer {
        #titre {
            @include fontBd;
            font-size: 20px;
        }
        #description {
            color: $middlegrey;
        }
            #valeurRevente {
                color:$grey;
                @include fontBd;
            }
    }

    #enchereStatusMessage {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        @include fontBd;
        height: 16px;
        min-height: 16px;
        &.OK {
            color: $green !important;
        }
        &.ERROR {
            color: $red !important;
        }
        &.notvisible {
            opacity: 0;
        }
    }

    #meilleureOffreContainer {
        font-size: 28px;
        .status {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            &.red {
                background: $red;
            }
            &.orange {
                background: orange;
            }
            &.green {
                background: $green;
            }
        }
    }

    input[name=montant] {
        width: 200px;
    }

    #submitEnchere {
        border-radius: 0 3px 3px 0px;
    }
}